{
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "layer": "top",
    "height": 24, // Waybar height (to be removed for auto height)
    "spacing": 2, // Gaps between modules (4px)
    // Choose the order of the modules
    "modules-left": ["hyprland/workspaces"],
    "modules-center": [],
    {{- if .laptop }}
    "modules-right": ["memory", "cpu", "pulseaudio", "battery", "backlight", "clock", "tray"],
    {{- else }}
    "modules-right": ["memory", {{ if not .nvidia }}"custom/gpu-usage", {{ end }}"cpu", "pulseaudio", "clock", "tray"],
    {{- end }}
    "hyprland/workspaces": {
        "format": "{name}",
        "on-click": "activate",
        "sort-by-number": true
    },
    "tray": {
        "icon-size": 16,
        "spacing": 10
    },
    "clock": {
        "format-alt": "{:%Y-%m-%d %H:%M:%S}",
        "interval": 1
    },
    "cpu": {
        "format": "CPU {usage}%",
        "tooltip": false,
        "interval": 2
    },
    "memory": {
        "format": "RAM {}%",
        "interval": 2
    },
    "backlight": {
        "format": "LGT {percent}%",
        "scroll-step": 5
    },
    "battery": {
        "states": {
            "low": 15
        },
        "format": "BAT {capacity}%",
        "format-charging": "BAT+ {capacity}%",
        "format-plugged": "BAT+ {capacity}%",
        "format-low": "BAT! {capacity}%",
        "interval": 5
    },
    "pulseaudio": {
        "scroll-step": 5, // %, can be a float
        "format": "VOL {volume}%",
        "format-muted": "muted",
        "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
        "on-click-right": "pavucontrol"
    },
    "network": {
        "interface": "wlo1",
        "interval": 5,
        "format": "NET -",
        "format-wifi": "NET {essid}",
        "format-disconnected": "NET down",
        "format-ethernet": "ETH {ifname}"
    },
    "custom/gpu-usage": {
        "exec": "cat /sys/class/hwmon/hwmon*/device/gpu_busy_percent",
        "format": "GPU {}%",
        "return-type": "",
        "interval": 2
    }
}

